*.suo
PoshComplete/bin
PoshComplete/obj
PoshComplete/dictionary/*.xml
packages/*
!packages/repositories.config
Microsoft.Build.dll
NuGet.exe
PoshComplete/PoshComplete.csproj.ubuntu
PoshComplete/dictionary/Cmdlet.json

